/* 모든 요소의 기본 스타일 초기화 */
* {
  margin: 0; /* 모든 요소의 기본 마진을 0으로 설정 */
  padding: 0; /* 모든 요소의 기본 패딩을 0으로 설정 */
  box-sizing: border-box; /* 요소의 너비와 높이에 패딩과 보더 포함 */
}

/* 특정 요소의 기본 스타일 초기화 */
ul,
li,
a,
button {
  all: unset; /* 모든 기본 스타일 제거 */
}

/* 전체 페이지의 감싸는 요소 스타일 */
.wrap {
  font-family: "Nanum Gothic", sans-serif; /* 첫 번째 폰트 설정 */
  font-family: "Poppins", sans-serif; /* 두 번째 폰트 설정 (일부 브라우저에서는 두 개의 폰트 모두 적용됨) */
  margin: 0 auto; /* 중앙 정렬 */
}

/* 최대 너비와 중앙 정렬 설정 */
.inner {
  max-width: 1136px; /* 최대 너비 설정 */
  margin: 0 auto; /* 중앙 정렬 */
}

/* 헤더 상단 영역 -----------------------------------------------------*/

/* 헤더의 하단 경계 및 패딩 설정 */
.header-upper {
  border-bottom: 1px solid #ededed; /* 하단 경계선 설정 */
  padding: 0 1rem; /* 좌우 패딩 설정 */
}

/* 상단 헤더 내부 스타일 */
.header-upper .inner {
  display: flex; /* 플렉스 박스 레이아웃 사용 */
  flex-flow: row nowrap; /* 가로 방향으로 배치 */
  justify-content: space-between; /* 양 끝에 배치 */
  align-items: center; /* 세로 방향 중앙 정렬 */
  height: 60px; /* 높이 설정 */
}

/* 검색 메뉴 스타일 */
.searchMenu {
  font-size: 1.5rem; /* 글자 크기 설정 */
  color: #35c5f0; /* 글자 색상 설정 */
  cursor: pointer; /* 커서 스타일 변경 */
}

/* 네비게이션 목록 숨기기 */
.header-upper__nav ul {
  display: none; /* 네비게이션 목록 숨김 */
}

/* 로고 스타일 */
.header-upper__logo {
  font-family: "Gamja Flower"; /* 특정 폰트 설정 */
  font-weight: 700; /* 두께 설정 */
  font-size: 1.5rem; /* 글자 크기 설정 */
  cursor: pointer; /* 커서 스타일 변경 */
}

/* 장바구니 아이콘 스타일 */
.fa-shopping-cart {
  margin-right: 0; /* 장바구니 아이콘의 오른쪽 마진 제거 */
}

/* 검색 바 숨기기 */
.header-upper__searchBar {
  display: none; /* 검색 바 숨김 */
}

/* 서비스 메뉴 숨기기 */
.header-upper__service ul {
  display: none; /* 서비스 메뉴 목록 숨김 */
}

/* 네비게이션 하단 영역 ---------------------------------------------------*/

/* 하단 네비게이션 경계 및 스크롤 설정 */
.header-lower {
  border-bottom: 1px solid #ededed; /* 하단 경계선 설정 */
  overflow-x: auto; /* 가로 스크롤 가능 */
  overflow-y: hidden; /* 세로 스크롤 숨김 */
}

/* 하단 네비게이션 내부 스타일 */
.header-lower .inner {
  display: flex; /* 플렉스 박스 레이아웃 사용 */
  justify-content: center; /* 중앙 정렬 */
  align-self: center; /* 자기 자신 중앙 정렬 */
  height: 40px; /* 높이 설정 */
}

/* 하단 네비게이션 내부 요소 스타일 */
.header-lower .inner nav {
  display: flex; /* 플렉스 박스 레이아웃 사용 */
  flex-flow: row nowrap; /* 가로 방향으로 배치 */
  justify-content: flex-start; /* 왼쪽 정렬 */
  align-items: center; /* 세로 방향 중앙 정렬 */
  color: #424242; /* 글자 색상 설정 */
}

/* 네비게이션 아이템 스타일 */
.header-lower__item {
  font-size: 0.8rem; /* 글자 크기 설정 */
  font-weight: 700; /* 두께 설정 */
  color: #424242; /* 글자 색상 설정 */
  cursor: pointer; /* 커서 스타일 변경 */
  padding: 11px 10px; /* 패딩 설정 */
  flex-shrink: 0; /* 플렉스 아이템 크기 축소 방지 */
}

/* 네비게이션 아이템 호버 스타일 */
.header-lower__item:hover {
  color: #35c5f0; /* 호버 시 글자 색상 변경 */
}

/* 활성화된 네비게이션 아이템 스타일 */
.header-lower__item.active {
  border-bottom: 2px solid #35c5f0; /* 하단 경계선 추가 */
}

/* 하단 네비게이션 내부의 숨겨진 요소 */
.header-lower .inner div {
  display: none; /* 숨김 */
}

/* 홈페이지 메인 전체 영역 -------------------------------------------------------------- */
.home-page {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1136px;
  padding: 0;
}

/* 홈페이지 상단/하단 전체 영역---------------------------------------------------------------- */

.home-header {
  display: flex;
  flex-flow: column nowrap;
}

/* 홈페이지 상단 이미지------------------------------------------------------------------ */
.home-header__upper {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.home-header__upper:hover img {
  transform: scale(110%);
}

.home-header__upper:hover .home-header-tit a {
  background: #35c5f0;
  border: none;
}

.home-header__upper img {
  width: 100%;
  filter: brightness(65%);
  transition: 0.3s;
  vertical-align: bottom;
}

.home-header-tit {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 2.5rem;
  color: #fff;
}

.home-header-tit h4 {
  font-size: 1.4rem;
  padding: 1rem 0;
}

.home-header-tit a {
  display: inline-block;
  width: 100px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  border-radius: 5px;
  border: 1px solid #fff;
  font-size: 0.8rem;
  font-weight: 600;
}



.home-shortcut {
  margin: 1rem 0;
}

.home-shortcut__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.home-shortcut__item {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
  flex: 0 0 calc(25%);
  cursor: pointer;
}

.home-shortcut__item a img {
  width: 100%;
}

.home-shortcut__item a h4 {
  display: block;
  color: #000;
  font-size: 0.8rem;
  margin: 4px 0 10px;
  font-weight: 500;
  text-align: center;
}

/* 홈 섹션 공통 영역 -----------------------------------------------------------------------*/
.home-section {
  width: calc(100% -1rem);
  max-width: 1136px;
  margin: 0 0.5rem;
}

/* 홈 스토리 영역 ----------------------------------------------------------------------------- */

.home-section__tit {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 1rem 0;
}

.home-stories {
  display: flex;
  flex-flow: column nowrap;
  color: #000;
  width: calc(100% - 2rem);
  margin: 1rem;
}

.home-stories__content {
  display: flex;
  flex-flow: row wrap;
  width: calc(100% - 1rem);
}

.home-stories__item {
  flex: 1 1 calc(50% - 0.8rem);
  padding: 0 0.4rem;
  overflow: hidden;
  cursor: pointer;
}

.home-stories__item:hover img {
  transform: scale(108%);
}

.home-stories__item article h4 {
  padding: 1rem 0 2rem;
  font-size: 0.9rem;
}

.home-stories__item__wrap {
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
}

.home-stories__item__wrap img {
  width: 100%;
  transition: 0.4s;
  vertical-align: bottom;
}

.home-stories__content__menu-wrap {
  flex: 0 0 50%;
  padding: 0 0.4rem;
}

.home-stories__content__menu {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column nowrap;
  margin: -0.5px 0;
  overflow: hidden;
}

.home-stories__content__menu__entry {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column nowrap;
  background: #f5f5f5;
  padding: 12.5px 10%;
  margin: 0.1rem 0;
  border-radius: 5px;
  cursor: pointer;
}

.home-stories__content__menu__entry div:nth-child(1) {
  color: #757575;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.home-stories__content__menu__entry div:nth-child(2) {
  font-weight: 600;
}

.home-stories__content__menu__entry:hover {
  background: #d8d8d8;
}


.home-category {
  display: flex;
  flex-flow: column nowrap;
  color: #000;
  width: calc(100% - 2rem);
  margin: 1rem;
}

.home-category__wrap {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  cursor: pointer;
}

.home-category__contents {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  overflow: hidden;
}

.home-category__item__wrap {
  flex: 0 0 25%;
  min-width: 10%;
}

.home-category__item__wrap div {
  width: 100%;
  height: 100%;
}

.home-category__item__wrap div a {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.home-category__item__wrap a img {
  width: 80px;
  height: 80px;
}

.home-category__item__wrap a h4 {
  color: #424242;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  max-width: 98px;
  margin: 20px auto 0;
}
/* 데스크탑 */
@media screen and (min-width: 785px) {
  /*  스크린의 크기가 768을 넘게된다면 해당 스타일을 적용합니다. */

  /* 785px 상단 헤더 영역 --------------------------------------------------------------- */
  .container {
    padding-top: 30px;
    width: 100%;
    margin: 0 auto;
  }

  .header-upper {
    height: 80px;
    padding: 10px 50px;
  }

  .searchMenu {
    display: none;
  }

  .mobile-searchBar {
    font-size: 1rem;
  }

  .fa-shopping-cart {
    font-size: 1rem;
  }

  .header-upper__inner {
    display: flex;
    align-items: center;
  }

  .header-upper__logo {
    margin-right: 2rem;
    order: 0;
    font-size: 1.8rem;
  }

  .header-upper__service {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #757575;
    font-weight: bold;
  }

  .header-upper__service ul li {
    cursor: pointer;
  }

 .header-upper__writeBt {
  width: 100px;
  height: 22px;
  color: #fff;
  padding: 8px 0 10px;
  background: #35c5f0;
  border-radius: 5px;
  text-align: center;
  line-height: 22px;
  cursor: pointer;
  position: relative;
}

.header-upper__writeBt:hover {
  background: #189ec7;
}

.header-upper__writeBt::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  margin-left: 0.5rem;
}

.header-upper__lists {
  position: absolute;
  z-index: 999;
  top: 70px;
  background: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  box-shadow: 0 4px 10px 0 rgb(209, 209, 209);
  width: 320px;
  display: none; /* 초기에는 숨김 */
  transition: 1s;
}

/* 'openWriteMenu' 클래스가 적용되면 메뉴 표시 */
.header-upper__lists.openWriteMenu {
  display: block;
}

.header-upper__lists::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  background: #fff;
  border-top: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  top: -10px;
  right: 1.5rem;
  z-index: 999;
  transform: rotate(45deg);
}

.header-upper__lists a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem 1.3rem;
  cursor: pointer;
}

.header-upper__lists a:last-child {
  padding-bottom: 1rem;
}

.header-upper__lists a h4 {
  color: #424242;
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

.header-upper__lists a p {
  font-size: 0.8rem;
  color: #424242;
}

  .header-upper__nav ul {
    display: flex;
  }

  .header-upper__item {
    font-weight: bold;
    margin-right: 1rem;
    cursor: pointer;
  }

  .header-upper__item:nth-child(3) {
    margin-right: 0;
  }

  .header-upper__item.upper__active {
    color: #35c5f0;
  }

  .header-upper__item:hover {
    color: #35c5f0;
  }

  .header-upper__service ul {
    display: inline-block;
  }

  .header-upper__service ul li a {
    margin: 0 9px 0 8px;
    display: inline-block;
  }

  .header-upper__service ul li:nth-child(1) {
    border-right: 1px solid #757575;
    padding-right: 2px;
  }

  .header-upper__service ul li:nth-child(3) {
    border-left: 1px solid #757575;
    display: none;
  }

  /* 785px 홈 페이지 전체 영역 -------------------------------------*/

  .home-page {
    margin: 0 50px;
  }

  /* 785px 하단 네비게이션 영역 -------------------------------------*/
  .header-lower {
    padding: 0 50px;
  }

  .header-lower .inner {
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }

  .header-lower__item {
    font-size: 1rem;
  }

  .header-lower .inner div {
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    color: #424242;
    cursor: pointer;
  }

  .header-lower .inner div:hover {
    color: #35c5f0;
  }

  /* 785px 홈 페이지 상단 이미지---------------------------------------------------------------- */
  .home-header {
    /* width: 100%; */
    /* height: 100%; */
    flex-direction: row;
    /* justify-content: space-between; */
  }

  .home-header__upper > div {
    width: 828px;
    overflow: hidden;
    border-radius: 0.4rem;
    height:600px;
   
  }

  .home-header__upper img {

    filter: none;
    transition: 0.3s;
    /* border-radius: 10px; */
    overflow: hidden;
  }

  .home-header-tit {
    top: 90%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .home-header-tit h4 {
    font-size: 1.6rem;
  }

  .home-header-tit a {
    height: 40px;
    line-height: 40px;
    font-size: 0.9rem;
    margin-top: 1rem;
  }

  /* 785px 홈 페이지 하단 베너 영역 --------------------------------------------------------------- */
  .home-header__lower {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    border-radius: 0.4rem;
    overflow: hidden;
    flex: 0 0 25.7%;
    margin-left: 1rem;
    height: 600px
  }

 
  .row-img {
    display: inline-block;
  }


  .home-shortcut__item {
    flex: 0 0 12.5%;
  }

  .home-shortcut__item a h4 {
    font-size: 1rem;
    font-weight: 700;
  }

  .home-stories__item {
    flex: 1 1 calc(25% - 2rem);
  }

  .home-stories__content__menu-wrap {
    flex: 0 0 25%;
  }


  .home-category__item__wrap {
    flex: 0 0 16.6666666667%;
  }


  .home-section__item {
    flex: 0 0 25%;
  }

  .home-section__item article a {
    flex-direction: column;
    padding: 0 0.5rem;
  }

  .home-section__item article a img {
    width: 100%;
  }

  .home-section__item__details {
    width: 100%;
    margin: 0;
  }

  .home-section__img-wrap {
    width: 100%;
  }

  .home-section__item__tit {
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 300;
    color: #757575;
  }

  .home-section__item__sub {
    margin-top: 5px;
    font-size: 0.8rem;
    font-weight: 400;
    max-height: 34px;
  }

  .home-section__item__sale {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
  }

  .home-section__item__percent {
    font-size: 1rem;
    font-weight: bold;
    color: #ff7777;
    margin-right: 0.5rem;
  }

  .home-section__item__price {
    font-weight: bold;
    font-size: 1.1rem;
  }

  .home-section__item__price {
    display: inline-block;
  }

  .home-section__item__review {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    font-size: 0.8rem;
    color: #757575;
    justify-content: flex-start;
    align-content: center;
  }

  .home-section__item__grade {
    margin: 0 0.4em;
    color: #000;
  }

  .home-section__item__grade::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f005";
    color: #35c5f0;
    margin-right: 0.4em;
  }

  .footer-upper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1045px) {
  .header-upper__searchBar input {
    border: none;
    width: 230px;
    margin-left: 0.5rem;
  }

  .header-upper__searchBar input:focus {
    outline: none;
  }

  .header-upper__searchBar .fa-search {
    margin-left: 0.5rem;
  }

  .header-upper__searchBar {
    display: flex;
    align-items: center;
    height: 40px;
    border: 1px solid #dbdbdb;
    border-radius: 0.3rem;
    margin-right: 1rem;
  }

  .mobile-searchBar {
    display: none;
  }

  .container {
    margin: 0 auto;
  }

  /* 1045px 넘어가면 카테고리 영역 */
  .home-category__item__wrap {
    flex: 1;
  }
}

@media (min-width: 1256px) {
  .header-upper__service ul li:nth-child(3) {
    display: inline-block;
  }
}